@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to the Dashboard</h1>




<!--Button that will redirect to User/Index.cshtml view-->
<a class="btn btn-primary" asp-controller="User" asp-action="Index">Manage Users</a>

<!--Button that will redirect to the Chat/Index.cshtml view-->
<a class="btn btn-secondary ml-2" asp-controller="Chat" asp-action="Index">Chat</a>