@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to the Dashboard</h1>



<!--Button that will redirect to User/Index.cshtml view-->
<a class="btn btn-primary" asp-controller="User" asp-action="Index">Manage Users</a>